<!DOCTYPE html>
<html>
<head>
	<title> About Us </title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link rel="icon" type="image/png" href="icon.png">
</head>
<body>

<ul>
  <li><a href="../index.html">Home</a></li>
  <li><a class="active" href="about.html">About Us</a></li>
  <li><a href="team.html">The Team</a></li>
  <li><a href="support.html">Support Us</a></li>
</ul>

<div class="About">





<h3>
 <body>
<font color ="white"> 
<p>
Paradigm Falls offers all access to unencrypted books and research documents provided with certain tools recommendation that could help in pursuit of your study.</p>
<p>It is our mission and desire to share science and science-based tools to the general public. </p>
<p> <center>
ABSOLUTELY FREE OF CHARGE. </p> </center>



<style>


body {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
  h4 {
    color: cyan;
  }

</style>






</div>

</body>
</html>