ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}
.active {
  background-color: none;
}
body{
  background-size: 1500px 700px;
  background-color: #000000;
  font-size: 40px
}
 h6 {
	   color: cyan;
	
  }

 h2 {
    color: red;
	font-family: "impact", fantasy;
  }

.content{
  font-size: 40px;
  color: #E98A15;
  text-align: justify;

}
.Home{
  font-size: 50px;
  color: #E98A15;
  padding-top: 100px
}
.about{
  font-size: 40px;
  color: #E98A15;
  padding-top: 10px

}
.team{
  font-size: 50px;
  color:#E98A15;
  padding-top: 80px;

}
.pictures{
  padding-top: 50px

}