<!DOCTYPE html>
<html>
<head>
	<title> Support Us </title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link rel="icon" type="image/png" href="icon.png">
</head>


<body>

<ul>
  <li><a href="../index.html">Home</a></li>
  <li><a href="about.html">About Us</a></li>
  <li><a href="team.html">The Team</a></li>
  <li><a class="active" href="support.html">Support Us</a></li>
</ul>
  <div class="contact">


<style>


body {
  background-image: url('support.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
</style>

<font style="font-family:tahoma; color:maroon; font-size:24px;"> <marquee width="100%" bgcolor ="white" direction="left to right"> <u>  <b> WELCOME NEW MEMBERS!!!  </u> </b> </font> </marquee>

<br><br>
<b><big> <center> <font style="font-family:times new roman; color:black; font-size:75px;">PARADIGM FALLS </center> </font>
<br>

<font style="font-family:tahoma; color:maroon; font-size:24px;"> <big><b><center> <p> Want to Apply for a membership? </p>
<p>
Create your Account: </p> </big> </b></center> 
<center>
<input placeholder="Enter your Username...">

<input placeholder="Enter your Email...">

<input type="hidden" placeholder="Create your Password">

<input type="password" placeholder="Create your Password">

<input type="password" placeholder="Re-enter your Password">

<input type="hidden" placeholder="Re-enter your Password">

<a href="https://facebook.com" target="_blank"><button>CREATE</button></a> 
<p>
TERMS AND CONDITIONS &#8669; I Agree.
<input type="checkbox"> </p>

</center>

<br> <br>

<font style="font-family:tahoma; color:maroon; font-size:24px;"> <big><b><center> <p> Already a Member? </p> <p> SIGN IN </p> </big> </b></center> 


<center>
<input placeholder="USERNAME">

<input type="password" placeholder="PASSWORD">

<input type="hidden" placeholder="PASSWORD">

<a href="https://facebook.com" target="_blank"><button>LOGIN</button></a> 
 </center>

<h5 align="center"> QUESTIONS/INQUIRIES? </h5>
<h5 align="center">  &#8594; &#8594; &#8594; FOLLOW US ON <a href="facebook.com">FACEBOOK</a> &#8592 &#8592 &#8592 </h5>




<table bgcolor="red" align="center">
<caption style="color:pink;">UPCOMING EVENTS</caption>
<tr bgcolor="pink" align="center">
<td>JAN</td>
<td>FEB</td>
<td>MAR</td>
<td>APR</td>
<td>MAY</td>
<td>JUN</td>
<td>JUL</td>
<td>AUG</td>
<td>SEP</td>
<td>OCT</td>
<td>NOV</td>
<td>DEC</td>
</tr>
<tr bgcolor="yellow" align="center">
<td>2</td>
<td>14</td>
<td>20</td>
<td>12</td>
<td>18</td>
<td>19</td>
<td>25</td>
<td>23</td>
<td>14</td>
<td>19</td>
<td>6</td>
<td>5</td>
</tr>
</table>

<h6> <center>
Schedule Appoiment
<input type="date">
</h6> </center>
<br> <br> 

<center>
<font style="font-family:impact; color:black; font-size:24px;"> <big><b>
<p> &#169; ALL RIGHTS RESERVED </p>

<p> TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES </p> </font> </big> </b>
</center>
</body>
</html>


