<!DOCTYPE html>
<html>
<head>
	<title> Team </title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link rel="icon" type="image/png" href="icon.png">
</head>
<body>

<ul>
  <li><a href="../index.html">Home</a></li>
  <li><a href="about.html">About Us</a></li>
  <li><a class="active" href="team.html"> The Team</a></li>
  <li><a href="support.html">Support Us</a></li>
</ul>
<div class="pictures">

<style>
body {
  background-image: url('team.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 975px;
}

  h6 {
    color: cyan;
  }

</style>



<font color ="maroon"> <h1 align="center"> MEET OUR TEAM </h1> </font>

<h6> <center>
<table>

<tr>
<td> <center> <h2> Carlo J. Porcel </center> </h2> </td>
<td> <center> <h2> Franz Alexis Villodres </center> </h2> </td>
<td> <center> <h2>Zachary Mico B. Binua </center> </h2> </td>

</tr>
<tr>
<td> <center> <h2 style="font-family:tahoma; color:maroon; font-size:24px;"> CEO and Founder, specialising in research projects. </center> </h2>
</td>
<td> <center> <h2 style="font-family:tahoma; color:maroon; font-size:24px;">  Advisor, covers all key decisions of the team, providing updates and leading the project through its mission. </h2> </center>  </td>

<td> <center> <h2 style="font-family:tahoma; color:maroon; font-size:24px;"> Brand Ambassador, Brand ambassador with years of experience. Promotes lifelong stability and countless opportunities for the project. </h2> </center> </td>
</tr>

<tr>
<td> &nbsp; </td>
<td> &nbsp;</td>
<td> &nbsp;</td>
</tr>

<tr>
<td> &nbsp; </td>
<td> &nbsp;</td>
<td> &nbsp;</td>
</tr>
<tr>
<td> <center> CONTACT DETAILS</td>
<td> <center> CONTACT DETAILS</td>
<td> <center> CONTACT DETAILS</td>
</tr>
<tr>
<td> &nbsp; </td>
<td> &nbsp;</td>
<td> &nbsp;</td>
</tr>

<tr>
<td> Email Address: </td>
<td> Email Address:</td>
<td> Email Address:</td>
</tr>
<tr>
<td><i> <center> porcelcarlojavier@gmail.com </i></td>
<td><i> <center> franzalexisvillodres@gmail.com </i></td>
<td><i> <center> binua.zacharymico@gmail.com </i> </td>
</tr>


<tr>
<td> Contact Number: </td>
<td> Contact Number: </td>
<td> Contact Number: </td>
</tr>


<td> <center> <i> <u> #0926-703-3506 </u> </i></td>
<td> <center> <i> <u> #0999-915-6664  </i> </u> </td>
<td> <center> <i> <u> #0981-056-5729 </u> </i> </td>
</tr>
</h6> 
</table>

</body>
</html>